<style>
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.5) -1.5em 0 0 0, rgba(0, 0, 0, 0.5) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
  box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

</style>

<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1><i class="fa fa-group"></i> Debitur/ Rekam</h1>
</section>

<div id="loading" class="loading" style="display:none;">Loading&#8230;</div>

<!-- Main content -->
<section class="content">
		
	<!-- Small boxes (Stat box) -->
	<div class="row" id="div-form">
		<div class="col-lg-12">
			
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-table"></i> Data Debitur Detil</h3>
					<div class="box-tools pull-right">
						<button type="button" id="kembali" title="Kembali" class="btn btn-primary"><i class="fa fa-undo"></i></button>
					</div>
				</div><!-- /.box-header -->
				<div class="box-body table-responsive">				
					<div id="div-detil1"><h3>Sedang proses.......</h3></div><br><br>
					<div id="div-detil2"><h3>Sedang proses.......</h3></div><br><br>
					<div id="div-detil3"><h3>Sedang proses.......</h3></div><br><br>
					<div id="div-detil4"><h3>Sedang proses.......</h3></div><br><br>
					<div id="div-detil5"><h3>Sedang proses.......</h3></div><br><br>
					<div id="div-detil6"><h3>Sedang proses.......</h3></div><br><br>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
			
		</div>
	</div>
	
	<!-- Small boxes (Stat box) -->
	<div class="row" id="div-tabel">
		<div class="col-lg-12">
			
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-table"></i> Data</h3>
					<div class="box-tools pull-right" id="div-tambah" style="display:none;">
						<div class="dropdown">
							<button class="btn btn-primary btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
								<i class="fa fa-plus"></i>
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a style="color:#000 !important;" href="registrasi/debitur" title="Tambah data?">Rekam Data</a></li>
							</ul>
						</div>
					</div>
				</div><!-- /.box-header -->
				<div class="box-body table-responsive" style="overflow-x:scroll;">					
					<span>ID.Form berwarna biru : Pengajuan Mandiri Masyarakat (*)</span>
					<br>
					<table id="tabel-ruh" class="table table-hover">
						<thead>
							<tr>
								<th>NIK</th>
								<th>Nama</th>
								<th>Jenis</th>
								<th>Tipe</th>
								<th>Hunian</th>
								<th>Tgl.Pengajuan</th>
								<th>ID.Form</th>
								<th>Status</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
			
		</div>
	</div>
	
</section>
<script>
	jQuery(document).ready(function(){
		
		function loading(param){
			if(param=='on'){
				jQuery('#loading').show();
			}
			else{
				jQuery('#loading').hide();
			}
		}
		
		jQuery.fn.dataTable.ext.errMode = 'none';
		
		//aktivasi chosen
		jQuery('.chosen').chosen();
		
		jQuery.get('debitur/rekam/otorisasi', function(result){
			if(result=='01'){
				jQuery('#div-tambah').show();
			}
		});
		
		//tampilan default
		function form_default() {
			jQuery('.warning, #div-form').hide();
			jQuery('#div-tabel').show();
			jQuery('#simpan').prop('disabled', false);
		}
		
		//aktivasi tampilan default
		form_default();
		
		//klik tambah
		jQuery('#tambah').click(function(){
			jQuery('#username').prop('disabled',false);
			jQuery('#inp-rekambaru').val('1');
			jQuery('#div-form').show();
			jQuery('#div-tabel').hide();
			cari_debitur();
		});
		
		//data tabel
		var table=jQuery('#tabel-ruh').DataTable({
			bProcessing:true,
			oLanguage:{
				"sProcessing":   "<center><h3>Sedang proses....</h3></center>",
				"sLengthMenu":   "Tampilan _MENU_ entri",
				"sZeroRecords":  "Tidak ditemukan data yang sesuai",
				"sInfo":         "Tampilan _START_ sampai _END_ dari _TOTAL_ entri",
				"sInfoEmpty":    "Tampilan 0 hingga 0 dari 0 entri",
				"sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
				"sInfoPostFix":  "",
				"sSearch":       "Cari:",
				"sUrl":          "",
				"oPaginate": {
				  "sFirst":    "Awal",
				  "sPrevious": "Sebelum",
				  "sNext":     "Sesudah",
				  "sLast":     "Akhir"
				}
			},
			aaSorting: [],
			bServerSide: true,
			ajax:{
				url: "debitur/rekam", // Change this URL to where your json data comes from
				type: "GET", // This is the default value, could also be POST, or anything you want.
				data: function(d) {
					//d.id = jQuery("#inp-id").val()
				}
			}
		});
		
		//validasi isian form
		function form_valid(str_id){
			var arr_id = str_id.split(',');
			var next = true;
			for(x = 0; x < arr_id.length; x++){
				if(jQuery('#'+arr_id[x]).val()==''){
					jQuery('#warning-'+arr_id[x]).show();
					next = false;
				}
			}
			return next;
		}
		
		//cari data yang akan di edit berdasarkan id
		function cari_debitur(){
			jQuery('#body-form').html('Sedang proses.....');
			jQuery.get('debitur/rekam/baru', function(result){
				if(result) {
					jQuery('#body-form').html(result);
				}
				else{
					jQuery('#body-form').html('Data tidak ditemukan');
				}
			});
		}
		
		//klik batal
		jQuery('#batal,#kembali').click(function(){
			form_default();
		});
		
		//klik simpan
		jQuery('#simpan').click(function(){
			jQuery(this).html('<span class="loading"><i class="fa fa-refresh"></i> Loading.....</span>');
			jQuery(this).prop('disabled',true);
			var next = form_valid('generate');
			if(next==true){
				jQuery.get('token', function(token){
					if(token){
						jQuery('#_token').val(token);
						var data = jQuery('#form-ruh').serialize();
						jQuery.ajax({
							url: 'debitur/rekam',
							method: 'POST',
							data: data,
							success: function(result){
								if(result=='success') {
									jQuery('#simpan').html('Simpan');
									jQuery('#simpan').prop('disabled',false);
									alertify.log('Proses simpan berhasil');
									form_default();
									table.ajax.reload();
								} else {
									jQuery('#simpan').html('Simpan');
									jQuery('#simpan').prop('disabled',false);
									alertify.log(result);
								} 
							},
							error: function(result){
								jQuery('#simpan').html('Simpan');
								jQuery('#simpan').prop('disabled',false);
								alertify.log(result);
							}
						});
					} 
					else{
						jQuery('#simpan').html('Simpan');
						jQuery('#simpan').prop('disabled',false);
						alertify.log('Sesi telah habis, silahkan refresh browser Anda!');
					}
				});
			}
			else{
				jQuery('#simpan').html('Simpan');
				jQuery('#simpan').prop('disabled',false);
				alertify.log('Data tidak dapat dikosongkan!');
			}
		});
		
		//detil
		jQuery('body').off('click', '.detil').on('click', '.detil', function(){
			var id = this.id;
			jQuery('#div-tabel').hide();
			jQuery('#div-form').show();
			jQuery.get('debitur/rekam/detil1/'+id, function(result){
				if(result) {
					jQuery('#div-detil1').html(result);
				}
				else{
					jQuery('#div-detil1').html('Data tidak ditemukan');
				}
			});
			jQuery.get('debitur/rekam/detil2/'+id, function(result){
				if(result) {
					jQuery('#div-detil2').html(result);
				}
				else{
					jQuery('#div-detil2').html('Data tidak ditemukan');
				}
			});
			jQuery.get('debitur/rekam/detil3/'+id, function(result){
				if(result) {
					jQuery('#div-detil3').html(result);
				}
				else{
					jQuery('#div-detil3').html('Data tidak ditemukan');
				}
			});
			jQuery.get('debitur/rekam/detil4/'+id, function(result){
				if(result) {
					jQuery('#div-detil4').html(result);
				}
				else{
					jQuery('#div-detil4').html('Data tidak ditemukan');
				}
			});
			jQuery.get('debitur/rekam/detil5/'+id, function(result){
				if(result) {
					jQuery('#div-detil5').html(result);
				}
				else{
					jQuery('#div-detil5').html('Data tidak ditemukan');
				}
			});
			jQuery.get('debitur/rekam/detil6/'+id, function(result){
				if(result) {
					jQuery('#div-detil6').html(result);
				}
				else{
					jQuery('#div-detil6').html('Data tidak ditemukan');
				}
			});
		});
		
		//validasi
		jQuery('body').off('click', '.validasi').on('click', '.validasi', function(){
			var id = this.id;
			alertify.confirm('Validasi data ini ke DUKCAPIL?', function(c){
				if(c) {
					loading('on');
					jQuery.get('token', function(token){
						if(token) {
							jQuery.ajax({
								url:'debitur/rekam/validasi',
								method:'POST',
								data:{
									_token:token, 
									id:id
								},
								success:function(result){
									loading('off');
									if(result=='success') {
										alertify.log('Proses validasi berhasil.');
										table.ajax.reload();
									} else {
										alertify.log(result);
									} 
								},
								error:function(result){
									loading('off');
									alertify.log(result);
								}
							});
						} else {
							alertify.log('Proses validasi gagal. Silahkan refresh halaman browser anda.');
						} 
					});
				} 
			});
		});
		
		//validasi
		jQuery('body').off('click', '.batal-validasi').on('click', '.batal-validasi', function(){
			var id = this.id;
			alertify.confirm('Batal validasi data ini?', function(c){
				if(c) {
					jQuery.get('token', function(token){
						if(token) {
							jQuery.ajax({
								url:'debitur/rekam/batal-validasi',
								method:'POST',
								data:{
									_token:token, 
									id:id
								},
								success:function(result){
									if(result=='success') {
										alertify.log('Proses pembatalan validasi berhasil.');
										table.ajax.reload();
									} else {
										alertify.log(result);
									} 
								},
								error:function(result){
									alertify.log(result);
								}
							});
						} else {
							alertify.log('Proses pembatalan validasi gagal. Silahkan refresh halaman browser anda.');
						} 
					});
				} 
			});
		});
		
		//penolakan
		jQuery('body').off('click', '.penolakan').on('click', '.penolakan', function(){
			var id = this.id;
			alertify.confirm('Kembalikan data ini?', function(c){
				if(c) {
					jQuery.get('token', function(token){
						if(token) {
							jQuery.ajax({
								url:'debitur/rekam/penolakan',
								method:'POST',
								data:{
									_token:token, 
									id:id
								},
								success:function(result){
									if(result=='success') {
										alertify.log('Proses penolakan berhasil.');
										table.ajax.reload();
									} else {
										alertify.log(result);
									} 
								},
								error:function(result){
									alertify.log(result);
								}
							});
						} else {
							alertify.log('Proses penolakan gagal. Silahkan refresh halaman browser anda.');
						} 
					});
				} 
			});
		});
		
	});
	
</script>