<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1><i class="fa fa-edit"></i> Form/ Rekam</h1>
</section>

<!-- Main content -->
<section class="content">
	
	<div class="row" id="div-form">
		<div class="col-lg-12">
			
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-pencil"></i> Form</h3>
				</div><!-- /.box-header -->
				<div class="box-body">					
					
					<form id="form-ruh" name="form-ruh" class="form-horizontal">
						<input type="hidden" id="inp-id" name="inp-id">
						<input type="hidden" id="inp-rekambaru" name="inp-rekambaru">
						<input type="hidden" id="_token" name="_token">
						<div class="box-body">
							<div class="form-group">
								<label class="control-label col-lg-3">Jumlah Kuota</label>
								<div class="col-lg-3">
									<input type="text" id="kuota" name="kuota" class="form-control val_num" style="text-align:right;" readonly/>
								</div>
								<div class="col-lg-2">
									<span id="warning-kuota" class="label label-warning warning">Required!</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-lg-3">Sudah Terpakai</label>
								<div class="col-lg-3">
									<input type="text" id="realisasi" name="realisasi" class="form-control val_num" style="text-align:right;" readonly/>
								</div>
								<div class="col-lg-2">
									<span id="warning-realisasi" class="label label-warning warning">Required!</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-lg-3">Sisa Kuota</label>
								<div class="col-lg-3">
									<input type="text" id="sisa" name="sisa" class="form-control val_num" style="text-align:right;" readonly/>
								</div>
								<div class="col-lg-2">
									<span id="warning-sisa" class="label label-warning warning">Required!</span>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label col-lg-3">Generate Form</label>
								<div class="col-lg-3">
									<input type="text" id="generate" name="generate" class="form-control val_num" style="text-align:right;"/>
								</div>
								<div class="col-lg-2">
									<span id="warning-generate" class="label label-warning warning">Required!</span>
								</div>
							</div>
							
							</br>
							<div class="form-group">
								<label class="control-label col-lg-3"></label>
								<div class="col-lg-3">
									<button title="Simpan Data Ini?" id="simpan" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
									<button title="Batal"  id="batal" type="button" class="btn btn-danger"><i class="fa fa-refresh"></i> Batal</button>
								</div>
							</div>
						</div><!-- /.box-body -->
					</form>
					
				</div><!-- /.box-body -->
			</div><!-- /.box -->

			
		</div>
	</div>
	
	<!-- Small boxes (Stat box) -->
	<div class="row" id="div-tabel">
		<div class="col-lg-12">
			
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-table"></i> Data</h3>
					<div class="box-tools pull-right" id="div-tambah" style="">
						<button title="Tambah Data" type="button" class="btn btn-primary" id="tambah"><i class="fa fa-plus"></i></button>
					</div>
				</div><!-- /.box-header -->
				<div class="box-body table-responsive" style="overflow-x:scroll;">					
					<table id="tabel-ruh" class="table table-hover">
						<thead>
							<tr>
								<th>ID.Form</th>
								<th>Petugas</th>
								<th>Nomor</th>
								<th>NIK</th>
								<th>Nama</th>
								<th>Status</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
			
		</div>
	</div>
	
</section>
<script>
	jQuery(document).ready(function(){
		
		jQuery.fn.dataTable.ext.errMode = 'none';
		
		//aktivasi chosen
		jQuery('.chosen').chosen();
		
		//tampilan default
		function form_default() {
			jQuery('.warning, #div-form').hide();
			jQuery('#div-tabel').show();
			jQuery('#simpan').prop('disabled', false);
		}
		
		//aktivasi tampilan default
		form_default();
		
		//klik tambah
		jQuery('#tambah').click(function(){
			jQuery('#username').prop('disabled',false);
			jQuery('#inp-rekambaru').val('1');
			jQuery('#div-form').show();
			jQuery('#div-tabel').hide();
			cari_kuota();
		});
		
		//data tabel
		var table=jQuery('#tabel-ruh').DataTable({
			bProcessing:true,
			oLanguage:{
				"sProcessing":   "<center><h3>Sedang proses....</h3></center>",
				"sLengthMenu":   "Tampilan _MENU_ entri",
				"sZeroRecords":  "Tidak ditemukan data yang sesuai",
				"sInfo":         "Tampilan _START_ sampai _END_ dari _TOTAL_ entri",
				"sInfoEmpty":    "Tampilan 0 hingga 0 dari 0 entri",
				"sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
				"sInfoPostFix":  "",
				"sSearch":       "Cari:",
				"sUrl":          "",
				"oPaginate": {
				  "sFirst":    "Awal",
				  "sPrevious": "Sebelum",
				  "sNext":     "Sesudah",
				  "sLast":     "Akhir"
				}
			},
			aaSorting: [],
			bServerSide: true,
			ajax:{
				url: "form/rekam", // Change this URL to where your json data comes from
				type: "GET", // This is the default value, could also be POST, or anything you want.
				data: function(d) {
					//d.id = jQuery("#inp-id").val()
				}
			}
		});
		
		//validasi isian form
		function form_valid(str_id){
			var arr_id = str_id.split(',');
			var next = true;
			for(x = 0; x < arr_id.length; x++){
				if(jQuery('#'+arr_id[x]).val()==''){
					jQuery('#warning-'+arr_id[x]).show();
					next = false;
				}
			}
			return next;
		}
		
		//cari data yang akan di edit berdasarkan id
		function cari_kuota(){
			jQuery.getJSON('form/rekam/kuota', function(result){
				if(result) {
					jQuery('#kuota').val(result.kuota);
					jQuery('#realisasi').val(result.realisasi);
					jQuery('#sisa').val(result.sisa);
					jQuery('#generate').val(0);
				}
			});
		}
		
		//klik batal
		jQuery('#batal').click(function(){
			form_default();
		});
		
		//klik simpan
		jQuery('#simpan').click(function(){
			jQuery(this).html('<span class="loading"><i class="fa fa-refresh"></i> Loading.....</span>');
			jQuery(this).prop('disabled',true);
			var next = form_valid('generate');
			if(next==true){
				jQuery.get('token', function(token){
					if(token){
						jQuery('#_token').val(token);
						var data = jQuery('#form-ruh').serialize();
						jQuery.ajax({
							url: 'form/rekam',
							method: 'POST',
							data: data,
							success: function(result){
								if(result=='success') {
									jQuery('#simpan').html('Simpan');
									jQuery('#simpan').prop('disabled',false);
									alertify.log('Proses simpan berhasil');
									form_default();
									table.ajax.reload();
								} else {
									jQuery('#simpan').html('Simpan');
									jQuery('#simpan').prop('disabled',false);
									alertify.log(result);
								} 
							},
							error: function(result){
								jQuery('#simpan').html('Simpan');
								jQuery('#simpan').prop('disabled',false);
								alertify.log(result);
							}
						});
					} 
					else{
						jQuery('#simpan').html('Simpan');
						jQuery('#simpan').prop('disabled',false);
						alertify.log('Sesi telah habis, silahkan refresh browser Anda!');
					}
				});
			}
			else{
				jQuery('#simpan').html('Simpan');
				jQuery('#simpan').prop('disabled',false);
				alertify.log('Data tidak dapat dikosongkan!');
			}
		});
		
		//hapus
		jQuery('body').off('click', '.hapus').on('click', '.hapus', function(){
			var id = this.id;
			alertify.confirm('Hapus data ini?', function(c){
				if(c) {
					jQuery.get('token', function(token){
						if(token) {
							jQuery.ajax({
								url:'form/rekam/hapus',
								method:'POST',
								data:{
									_token:token, 
									id:id
								},
								success:function(result){
									if(result=='success') {
										alertify.log('Proses hapus berhasil.');
										table.ajax.reload();
									} else {
										alertify.log(result);
									} 
								},
								error:function(result){
									alertify.log(result);
								}
							});
						} else {
							alertify.log('Proses hapus gagal. Silahkan refresh halaman browser anda.');
						} 
					});
				} 
			});
		});
		
	});
	
</script>
