<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1><i class="fa fa-home"></i> Beranda</h1>
</section>

<!-- Main content -->
<section class="content">
	
	<div class="row">
		
		<div class="col-lg-3">
			<!-- small box -->
			<div class="small-box bg-primary">
				<div class="inner">
					<h3 id="div-kuitansi">
						532
					</h3>
					<p>
						Debitur
					</p>
				</div>
				<div class="icon">
					<i class="fa fa-pencil"></i>
				</div>
				<a href="#" class="small-box-footer">
					Pengajuan Online
				</a>
			</div>
		</div><!-- ./col -->
		
		<div class="col-lg-3">
			<!-- small box -->
			<div class="small-box bg-red">
				<div class="inner">
					<h3 id="div-drpp">
						320
					</h3>
					<p>
						Debitur
					</p>
				</div>
				<div class="icon">
					<i class="fa fa-check"></i>
				</div>
				<a href="#" class="small-box-footer">
					Pengajuan Petugas
				</a>
			</div>
		</div><!-- ./col -->
		
		<div class="col-lg-3">
			<!-- small box -->
			<div class="small-box bg-yellow">
				<div class="inner">
					<h3 id="div-spm">
						502
					</h3>
					<p>
						Debitur
					</p>
				</div>
				<div class="icon">
					<i class="fa fa-upload"></i>
				</div>
				<a href="#" class="small-box-footer">
					Validasi DUKCAPIL
				</a>
			</div>
		</div><!-- ./col -->
		
		<div class="col-lg-3">
			<!-- small box -->
			<div class="small-box bg-green">
				<div class="inner">
					<h3 id="div-sp2d">
						1,200
					</h3>
					<p>
						Debitur
					</p>
				</div>
				<div class="icon">
					<i class="fa fa-download"></i>
				</div>
				<a href="#" class="small-box-footer">
					Lulus Skoring
				</a>
			</div>
		</div><!-- ./col -->
		
	</div>
	
	<div class="row">
		
		<div class="col-lg-12">
			<div id="grafik1"></div>
		</div>
		
	</div>
	<br>
	
</section>
<script>
	jQuery(document).ready(function(){
		
	});
</script>