<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1><i class="fa fa-list"></i> Laporan Revisi Internal</h1>
</section>

<!-- Main content -->
<section class="content">
	
	<div class="row" id="div-form">
		<div class="col-lg-12">
			
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-pencil"></i> Form</h3>
				</div><!-- /.box-header -->
				<div class="box-body">					
					
					<form id="form-ruh" name="form-ruh" class="form-horizontal">
						<input type="hidden" id="inp-id" name="inp-id">
						<input type="hidden" id="inp-rekambaru" name="inp-rekambaru">
						<input type="hidden" id="_token" name="_token">
						<div class="box-body">
							<div class="form-group">
								<label class="control-label col-lg-3">Deputi</label>
								<div class="col-lg-3">
									<select class="form-control chosen" id="deputi" name="deputi">
										<option value="" style="display:none;">Pilih Deputi</option>
									</select>
								</div>
								<div class="col-lg-2">
									<span id="warning-deputi" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Asisten Deputi</label>
								<div class="col-lg-3">
									<select class="form-control chosen" id="asdeputi" name="asdeputi">
										<option value="" style="display:none;">Pilih Asisten Deputi</option>
									</select>
								</div>
								<div class="col-lg-2">
									<span id="warning-asdeputi" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Revisi Ke</label>
								<div class="col-lg-2">
									<input type="text" class="form-control val_num" id="revisike" name="revisike" style="text-align:right;"/>
								</div>
								<div class="col-lg-2">
									<span id="warning-revisike" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-3"></div>
								<div class="col-lg-3">
									<button class="btn btn-primary" id="btn-proses" title="Cetak Laporan Revisi Internal"><i class="fa fa-print"></i> Proses</button>
								</div>
							</div>
						</div><!-- /.box-body -->
					</form>
					
				</div><!-- /.box-body -->
			</div><!-- /.box -->	
		</div>
	</div>
	
	<!-- Small boxes (Stat box) -->
	<div class="row" id="div-tabel">
		<div class="col-lg-12">
			
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-table"></i> Data</h3>
					<div class="box-tools pull-right" id="div-tambah" style="">
						<button title="Tambah Data" type="button" class="btn btn-warning" id="tambah"><i class="fa fa-plus"></i></button>
					</div>
				</div><!-- /.box-header -->
				<div class="box-body table-responsive" style="overflow-x:scroll;">					
					<table id="tabel-ruh" class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Nama File</th>
								<th>Revisi Ke</th>
								<th>Status</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->

			
		</div>
	</div>
	<!--
	<div id="view-modal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Detail Informasi User</h4>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead id="content-view">
							</thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	-->
</section>
<script>
	jQuery(document).ready(function(){
		jQuery('.chosen').chosen();
		
		jQuery('.warning').hide();
		
		function validasi_form(arr_param){
			var lanjut = true;
			var arr_id = arr_param.split(",");
			for(i=0; i<arr_id.length; i++) {
				if(jQuery('#'+arr_id[i]).val() == null || jQuery('#'+arr_id[i]).val() == '') {
					jQuery('#warning-'+arr_id[i]).show();
					var lanjut = false;
				} 
			}
			return lanjut;
		}
		
		jQuery('#btn-proses').click(function(){
			validasi_form('deputi,asdeputi,revisike');
		});
	});

</script>
