<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1><i class="fa fa-user"></i> Profile User</h1>
</section>

<!-- Main content -->
<section class="content">
	
	<div class="row" id="div-form">
		<div class="col-lg-12">
			
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-pencil"></i> Form</h3>
				</div><!-- /.box-header -->
				<div class="box-body">					
					
					<form id="form-ruh" name="form-ruh" class="form-horizontal">
						<input type="hidden" id="inp-id" name="inp-id">
						<input type="hidden" id="inp-rekambaru" name="inp-rekambaru">
						<input type="hidden" id="_token" name="_token">
						<input type="hidden" id="kdnip" name="kdnip">
						<div class="box-body">
							<div class="form-group">
								<label class="control-label col-lg-3">Nama</label>
								<div class="col-lg-3">
									<input type="text" id="nama" name="nama" class="form-control" maxlength="50"/>
								</div>
								<div class="col-lg-2">
									<span id="warning-nama" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group" id="div-nip">
								<label class="control-label col-lg-3">NIP/NRP</label>
								<div class="col-lg-3">
									<input type="text" id="nip" name="nip" class="form-control val_num" maxlength="18"/>
								</div>
								<div class="col-lg-2">
									<span id="warning-nip" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Telp</label>
								<div class="col-lg-3">
									<input type="text" id="telp" name="telp" class="form-control" maxlength="20"/>
								</div>
								<div class="col-lg-2">
									<span id="warning-telp" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Email</label>
								<div class="col-lg-3">
									<input type="text" id="email" name="email" class="form-control" maxlength="50"/>
								</div>
								<div class="col-lg-2">
									<span id="warning-email" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group" id="div-kppn">
								<label class="control-label col-lg-3">Alamat</label>
								<div class="col-lg-5">
									<textarea id="alamat" name="alamat" class="form-control" maxlength="255"></textarea>
								</div>
								<div class="col-lg-2">
									<span id="warning-alamat" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group" id="div-kanwil">
								<label class="control-label col-lg-3">Foto</label>
								<div class="col-lg-5" id="div-upload">
									
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Password Lama</label>
								<div class="col-lg-3">
									<input type="password" id="password_lama" name="password_lama" class="form-control" maxlength="100"/>
								</div>
								<div class="col-lg-2">
									<span id="warning-password_lama" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Password Baru</label>
								<div class="col-lg-3">
									<input type="password" id="password_baru" name="password_baru" class="form-control" maxlength="100"/>
								</div>
								<div class="col-lg-2">
									<span id="warning-password_baru" class="label label-warning warning">Required!</span>
								</div>
							</div>
							</br>
							<div class="form-group">
								<label class="control-label col-lg-3"></label>
								<div class="col-lg-3">
									<button title="Simpan Data Ini?" id="simpan" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
									<button title="Batal"  id="batal" type="button" class="btn btn-danger"><i class="fa fa-refresh"></i> Batal</button>
								</div>
							</div>
						</div><!-- /.box-body -->
					</form>
					
				</div><!-- /.box-body -->
			</div><!-- /.box -->
			
		</div>
	</div>
	
</section>
<script>
	jQuery(document).ready(function(){
		
		jQuery('.chosen').chosen();
		
		//validasi isian form
		function form_valid(str_id){
			var arr_id = str_id.split(',');
			var next = true;
			for(x = 0; x < arr_id.length; x++){
				if(jQuery('#'+arr_id[x]).val()==''){
					jQuery('#warning-'+arr_id[x]).show();
					next = false;
				}
			}
			return next;
		}
		
		function upload(token){
			jQuery('#div-upload').html('<input type="file" id="file_foto" name="file_foto" class="form-control">');
			jQuery("#file_foto").pekeUpload({
				url:'profile?_token='+token,
				theme:'bootstrap',
				multi:'false',
				maxSize:0,
				showErrorAlerts:'false',
				onFileError:function(file,error){
					//validasi gagal upload
					alertify.log(error);
				},
				onFileSuccess:function(file,data){
					alertify.log('Upload file '+file.name+' berhasil');
					//window.location.href="#/input/monitoring";
				}
			});
		}
		
		jQuery.get('token', function(result){
			upload(result);
		});
		
		function form_default(){
			jQuery.getJSON('profile', function(result){
				if(result.nama){
					jQuery('#nip').val(result.nip);
					jQuery('#nama').val(result.nama);
					jQuery('#telp').val(result.telp);
					jQuery('#alamat').val(result.alamat);
					jQuery('#email').val(result.email);
				}
				else{
					alertify.log('Data gagal ditampilkan. Hubungi Administrator.');
				}
			});
			jQuery('.warning').hide();
			jQuery('#password_lama,#password_baru').val('');
			jQuery('#simpan').prop('disabled', false);
			jQuery('#simpan').html('<i class="fa fa-save"></i> Simpan');
		}
		
		form_default();
		
		jQuery('#simpan').click(function(){
			jQuery('#simpan').prop('disabled', true);
			jQuery('#simpan').html('Loading.....');
			var lanjut=form_valid('nama,jabatan,telp,email,alamat');
			if(lanjut==true){
				jQuery.get('token', function(result){
					if(result){
						jQuery('#_token').val(result);
						var data=jQuery('#form-ruh').serialize();
						jQuery.ajax({
							url:'profile',
							method:'PUT',
							data:data,
							success:function(result){
								if(result=='success'){
									alertify.log('Data berhasil disimpan!');
									//form_default();
									window.location.href='./logout';
								}
								else{
									alertify.log(result);
									jQuery('#simpan').prop('disabled', false);
									jQuery('#simpan').html('<i class="fa fa-save"></i> Simpan');
								}
							},
							error:function(result){
								alertify.log(result);
								jQuery('#simpan').prop('disabled', false);
								jQuery('#simpan').html('<i class="fa fa-save"></i> Simpan');
							}
						});
						
					}
					else{
						alertify.log('Sesi Anda telah habis. Silahkan refresh browser.');
						jQuery('#simpan').prop('disabled', false);
						jQuery('#simpan').html('<i class="fa fa-save"></i> Simpan');
					}
				});
				
			}
			else{
				alertify.log('Kolom tidak dapat dikosongkan!');
				jQuery('#simpan').prop('disabled', false);
				jQuery('#simpan').html('<i class="fa fa-save"></i> Simpan');
			}
		});
		
		jQuery('#batal').click(function(){
			form_default();
		});
		
	});
</script>
