<!-- Prevent direct access to .html file -->
<script>
	if(typeof app === 'undefined'){
		document.location.href='index.php';
	}
</script>

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1 data-toggle="collapse" data-target="#demo" ><i class="fa fa-list"></i > Referensi Pihak Ketiga/Penerima</h1>
</section>

<!-- Main content -->
<section class="content" style="color:blue" >
	
	<div class="row" id="div-form">
		<div class="col-lg-12">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-pencil"></i> Form</h3>
				</div><!-- /.box-header -->
				<div class="box-body">					
					<form id="form-ruh" name="form-ruh" class="form-horizontal">
						<input type="hidden" id="inp-id" name="inp-id">
						<input type="hidden" id="inp-rekambaru" name="inp-rekambaru">
						<input type="hidden" id="_token" name="_token">
						<div class="box-body">
							<div class="form-group">
								<label class="control-label col-lg-3">Nama</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" id="nama" name="nama"/>
								</div>
								<div class="col-lg-3">
									<span id="warning-nama" class="label label-warning warning">Required!</span> 
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">NPWP</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" id="npwp" name="npwp" maxlength="15"/>
								</div>
								<div class="col-lg-3">
									<span id="warning-npwp" class="label label-warning warning">Required!</span> 
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Nama Bank</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" id="bank" name="bank"/>
								</div>
								<div class="col-lg-3">
									<span id="warning-bank" class="label label-warning warning">Required!</span> 
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">No.Rekening</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" id="rek" name="rek"/>
								</div>
								<div class="col-lg-3">
									<span id="warning-rek" class="label label-warning warning">Required!</span> 
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Nama Rekening</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" id="nama_rek" name="nama_rek"/>
								</div>
								<div class="col-lg-3">
									<span id="warning-nama_rek" class="label label-warning warning">Required!</span> 
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3">Jenis Penerima</label>
								<div class="col-lg-6">
									<select id="jenis" name="jenis" class="form-control chosen">
										<option value="" style="display:none;">Pilih Data</option>
										<option value="1">Pegawai</option>
										<option value="2">Pihak Ketiga</option>
									</select>
								</div>
								<div class="col-lg-3">
									<span id="warning-jenis" class="label label-warning warning">Required!</span> 
								</div>
							</div>
							<div class="form-group pegawai">
								<label class="control-label col-lg-3">NIP</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" id="nip" name="nip" maxlength="18"/>
								</div>
								<div class="col-lg-3">
									<span id="warning-nip" class="label label-warning warning">Required!</span> 
								</div>
							</div>
							<div class="form-group rekanan">
								<label class="control-label col-lg-3">Alamat</label>
								<div class="col-lg-6">
									<textarea class="form-control" id="alamat" name="alamat"></textarea>
								</div>
								<div class="col-lg-3">
									<span id="warning-alamat" class="label label-warning warning">Required!</span>
								</div>
							</div>
							<div class="form-group rekanan">
								<label class="control-label col-lg-3">Nama Pejabat</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" id="nama_pejabat" name="nama_pejabat"/>
								</div>
								<div class="col-lg-3">
									<span id="warning-nama_pejabat" class="label label-warning warning">Required!</span> 
								</div>
							</div>
							<div class="form-group rekanan">
								<label class="control-label col-lg-3">Jabatan</label>
								<div class="col-lg-6">
									<input type="text" class="form-control" id="jabatan_pejabat" name="jabatan_pejabat"/>
								</div>
								<div class="col-lg-3">
									<span id="warning-jabatan_pejabat" class="label label-warning warning">Required!</span> 
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-lg-3"></label>
								<div class="col-lg-3">
									<button title="Simpan" id="btn-simpan" class="btn btn-primary"><i class="fa fa-save"></i> Simpan</button>
									<button title="Batal" id="btn-batal" class="btn btn-default"><i class="fa fa-refresh"></i> Batal</button>
								</div>
							</div>
						</div><!-- /.box-body -->
					</form>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>

	<div class="row" id="div-tabel">
		<div class="col-lg-12">
			<div class="box box-solid box-primary">
				<div class="box-header">
					<h3 class="box-title"><i class="fa fa-table"></i> Data</h3>
					<div class="box-tools pull-right" id="div-tambah" style="">
						<button title="Tambah Data" type="button" class="btn btn-info" id="btn-tambah"><i class="fa fa-plus"></i></button>
					</div>
				</div>
				<div class="box-body table-responsive" style="overflow-x:scroll;">					
					<table id="tabel-ruh" class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>Nama</th>
								<th>NPWP</th>
								<th>Bank</th>
								<th>No.Rekening</th>
								<th>Nama Rekening</th>
								<th>Aksi</th>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>
				</div><!-- /.box-body -->
			</div><!-- /.box -->
		</div>
	</div>
	
</section>
<script>
	jQuery(document).ready(function(){
	
		jQuery('.chosen').chosen();
		
		jQuery.fn.dataTable.ext.errMode = 'none';
		
		jQuery.get('cek/level', function(result){
			if(result=='02'){
				jQuery('#div-tambah').show();
			}
			else{
				jQuery('#div-tambah').hide();
			}
		});
	
		var table=jQuery('#tabel-ruh').DataTable({
			bProcessing:true,
			oLanguage:{
				"sProcessing":   "<center><h3>Sedang proses....</h3></center>",
				"sLengthMenu":   "Tampilan _MENU_ entri",
				"sZeroRecords":  "Tidak ditemukan data yang sesuai",
				"sInfo":         "Tampilan _START_ sampai _END_ dari _TOTAL_ entri",
				"sInfoEmpty":    "Tampilan 0 hingga 0 dari 0 entri",
				"sInfoFiltered": "(disaring dari _MAX_ entri keseluruhan)",
				"sInfoPostFix":  "",
				"sSearch":       "Cari:",
				"sUrl":          "",
				"oPaginate": {
				  "sFirst":    "Awal",
				  "sPrevious": "Sebelum",
				  "sNext":     "Sesudah",
				  "sLast":     "Akhir"
				}
			},
			aaSorting: [],
			bServerSide: true,
			sAjaxSource: "ref/penerima"
		});
		
		jQuery('#refresh').click(function(){
			table.ajax.url("ref/deputi").load();
		});
		
		function form_default() {
			jQuery('#inp-rekambaru').val(0);
			jQuery.get('token', function(token){
				jQuery('#_token').val(token)
			});
			jQuery('.warning, #div-form').hide();
			jQuery('#div-tabel').show();
			jQuery('input,textarea').val('');
			jQuery('.pegawai,.rekanan').hide();
			jQuery('.chosen').val('').trigger('chosen:updated');
			jQuery('#btn-simpan').html('<i class="fa fa-save"></i> Simpan');
			jQuery('#btn-simpan').prop('disabled' ,false);
		}
		
		function validasi_form(arr_param) {
			var lanjut = true;
			var arr_id = arr_param.split(",");
			for(i=0; i<arr_id.length; i++) {
				if(jQuery('#'+arr_id[i]).val() == null || jQuery('#'+arr_id[i]).val() == '') {
					jQuery('#warning-'+arr_id[i]).show();
					lanjut = false;
				} else {
					jQuery('#warning-'+arr_id[i]).hide();
					lanjut = true;
				} 
			}
			return lanjut;
		}
		
		function cari_data(param) {
			jQuery('#inp-rekambaru').val(1);
			jQuery('#div-tabel').hide();
			jQuery('#div-form').show();
			
			jQuery.getJSON('ref/penerima-cari/'+param, function(result){
				jQuery('#nama').val(result.nama);
				jQuery('#npwp').val(result.npwp);
				jQuery('#bank').val(result.bank);
				jQuery('#rek').val(result.rek);
				jQuery('#nama_rek').val(result.nama_rek);
				jQuery('#nip').val(result.nip);
				jQuery('#alamat').val(result.alamat);
				jQuery('#jabatan_pejabat').val(result.jabatan_pejabat);
				jQuery('#nama_pejabat').val(result.nama_pejabat);
				jQuery('#jenis').val(result.jenis).trigger('chosen:updated');
				if(result.jenis=='1'){
					jQuery('.pegawai').show();
					jQuery('.rekanan').hide();
				}
				else{
					jQuery('.pegawai').hide();
					jQuery('.rekanan').show();
				}
				jQuery('#inp-id').val(result.id);
			});
		}
		
		form_default();
		
		jQuery('#btn-tambah').click(function(){
			jQuery('#div-tabel').hide();
			jQuery('#div-form').show();
		});
		
		jQuery('#jenis').change(function(){
			var jenis=jQuery(this).val();
			if(jenis=='1'){
				jQuery('.pegawai').show();
				jQuery('.rekanan').hide();
			}
			else{
				jQuery('.pegawai').hide();
				jQuery('.rekanan').show();
			}
		});
		
		jQuery('#btn-simpan').click(function(){
			jQuery('#btn-simpan').html('Loading....');
			jQuery('#btn-simpan').prop('disabled' ,true);
			var data = jQuery('#form-ruh').serialize();
			if(jQuery('#jenis').val()=='1'){
				var lanjut=validasi_form('nama,npwp,bank,rek,nama_rek,nip');
			}
			else{
				if(jQuery('#jenis').val()=='2'){
					var lanjut=validasi_form('nama,npwp,bank,rek,nama_rek,alamat,nama_pejabat,jabatan_pejabat');
				}
				else{
					var lanjut=false;
				}
			}
			
			if(lanjut == true) {
				jQuery.ajax({
					url: 'ref/penerima-simpan',
					method: 'POST',
					data: data,
					success: function(result){
						if(result){
							if(result == 'success'){
								alertify.log('Berhasil disimpan');
								form_default();
								table.ajax.reload('ref/penerima');
							} else {
								alertify.log(result)
								jQuery('#btn-simpan').html('<i class="fa fa-save"></i> Simpan');
								jQuery('#btn-simpan').prop('disabled' ,false);
							}
						}
						else{
							alertify.log('Data gagal disimpan!');
							jQuery('#btn-simpan').html('<i class="fa fa-save"></i> Simpan');
							jQuery('#btn-simpan').prop('disabled' ,false);
						} 
					}
				});
			}
			else{
				alertify.log('Kolom tidak dapat dikosongkan!');
				jQuery('#btn-simpan').html('<i class="fa fa-save"></i> Simpan');
				jQuery('#btn-simpan').prop('disabled' ,false);
			}
			
		});
		
		jQuery('#btn-batal').click(function(){
			form_default();
		});
		
		jQuery('body').off('click', '.ubah').on('click', '.ubah', function(){
			var id = this.id;
			cari_data(id);
		});
		
		jQuery('body').off('click', '.hapus').on('click', '.hapus', function(){
			var id = this.id;
			alertify.confirm('Hapus data ini?', function(e){
				if(e){
					var token = jQuery('#_token').val();
					jQuery.ajax({
						url: 'ref/penerima-hapus',
						method: 'POST',
						data: {id:id, _token : token},
						success: function(result){
							if(result == 'success'){
								alertify.log("Berhasil dihapus");
								form_default();
								table.ajax.reload('ref/deputi');
							} else {
								alertify.log(result);
							} 
						}
					});
				}
			});
		});
		
	});

</script>

